/* general properties */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* specific properties */

body {
  /* designing properties */
  margin: auto;
  /* flex properties */
  display: flex;
  flex-direction: column;
  /* length properties */
  width: 80vw;
}

header {
  /* design properties */
  background-color: red;
  /* length properties */
  height: 20vh;
  width: 100%;
  /* CSS Box Model properties */
}

header > ul {
  display: flex;
  justify-content: center;
}

nav {
  /* length properties */
  height: 10vh;
  width: 100%;
  /* flex properties */
  display: flex;
  justify-content: space-around;
}

nav > ul {
  /* designing properties */
  background-color: aqua;
  /* flex properties */
  display: flex;
  justify-content: space-evenly;
  /* length properties */
  width: 100%;
}

/* section.title */

.title {
  /* display properties */
  display: flex;
  justify-content: space-between;
  /* design properties */
  
  /* box-model properties*/
  margin-top: 2em;
  
}

.title--header {
  /* display properties */
  flex: 1 0 auto;
}

.title--icons{
  /* display properties */
  place-items: center;
  align-content: center; /*I have absolutely no idea, how tf this worked.*/
  flex: 1 0 auto;
  /* designing properties */
  font-size: larger;

}

.title--icons > ul {
  /* display properties */
  display: flex;

}

.content {
  
}

.content--intro-p {
  /* design properties*/
  padding-top: 20px;
}

.content--header {
  /* box-model */
  padding: 10px 0px;
}

.content--search-list > ul{
  /* display properties */
  display: flex;
  flex-wrap: wrap;
  /* design properties */
  background-color: rgb(185 237 237);
  border-radius: 10px;
  gap: 10px;
  font-size: 1.5em;
  /* box-model properties */
  padding: 20px 10px;
}

.feedback {
  /* design properties */
  border: 2px solid black;
}

.feedback--body {

}

.feedback--btn {

}
