/* general properties */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* specific properties */

body {
  /* designing properties */
  margin: auto;
  /* flex properties */
  display: flex;
  flex-direction: column;
  /* length properties */
  width: 80vw;
}

header {
  /* design properties */
  background-color: red;
  /* length properties */
  height: 20vh;
  width: 100%;
  /* CSS Box Model properties */
}

header > ul {
  display: flex;
  justify-content: center;
}

nav {
  /* length properties */
  height: 10vh;
  width: 100%;
  /* flex properties */
  display: flex;
  justify-content: space-around;
}

nav > ul {
  /* designing properties */
  background-color: aqua;
  /* flex properties */
  display: flex;
  justify-content: space-evenly;
  /* length properties */
  width: 100%;
}

article {
  /* designing properties */
  border: 2px solid black; 
  /* display properties */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  grid-template-columns: 1fr 1fr;
}

article .item {
  border: 2px solid blue;
}

article .item-3 {
  grid-column: 1/3;
}

article .item-5 {
  grid-column: 1/3;
}

article #alphabet-navbar > ul {
  display: flex;
  gap: 2px;
}

