/* general properties */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* specific properties */

body {
  /* designing properties */
  margin: auto;
  /* flex properties */
  display: flex;
  flex-direction: column;
  /* length properties */
  width: 80vw;
}

header {
  /* design properties */
  background-color: red;
  /* length properties */
  height: 20vh;
  width: 100%;
  /* CSS Box Model properties */
}

header > ul {
  display: flex;
  justify-content: center;
}

nav {
  /* length properties */
  height: 10vh;
  width: 100%;
  /* flex properties */
  display: flex;
  justify-content: space-around;
}

nav > ul {
  /* designing properties */
  background-color: aqua;
  /* flex properties */
  display: flex;
  justify-content: space-evenly;
  /* length properties */
  width: 100%;
}

article {
  /* designing properties */
  background-color: rgba(255, 0, 0, 0.161);
  /* length properties */
  width: 100%;
}

article img {
  /* length properties */
  height: 100%;
  width: 100%;
}

article section {
  /* flex properties */
  display: flex;
}

article > section > div > h2 {
  /* designing properties */
  font-weight: 100;
  font-size: 1em;
}

article > section > div dt {
  /* designing properties */
  font-weight: 600;
  font-size: 2em
}

main {
  /* designing properties */
  background-color: red;
  /* min-height: fit-content; */
  /* max-height: 100px */;

  display: flex;
  
}
main div {
  border: 2px solid black;
  height: 33%;
  
}